/*Default formatting for body*/
body{
	margin: 0;
	font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	vertical-align: middle;
	color: rgb(56, 56, 56);
	width: 100vw;
	height: 100vh;
}

/*Top main nav bar*/
.nav-bar {
	background-color: #ffffff;
	height: 70px;
	width: 100%;
}

.logo-image {
	float: left;
	height: 70px;
}

.main_nav ul {
	margin: 0;
	display: inline-block;
}

.nav-item {
	list-style-type: none;
	display: inline-block;
	height: 100%;
	padding: 20px 0 0 0;
	margin: 0 10px 0 10px;
	font-size: 24px;
	font-family: 'Ubuntu', Helvetica, sans-serif;
}
  /*Links for main nav bar*/
.nav-item a {
	color: #FF8C2E;
	text-decoration: none;
}

.nav-item a:hover {
	background-color: rgb(255, 161, 98);
	color: rgb(255, 255, 255);
}

.nav-item a.focus {
	background-color: #4CAF50;
	color: white;
}

/*Main page*/
.main {
	display: grid;
	grid-template-rows: 40px auto 40px auto;
	grid-template-columns: 30% 30%;
	grid-template-areas:
			"link-1 link-2"
			"fridge bag"
			"fridge link-3"
			"fridge book";
	grid-gap: 10px;
	justify-items: center; /* row alignment*/
	align-items: center; /* column alignment*/
	justify-content: center;
}

.fridge-link {
	grid-area: link-1;
	padding: 20px 0 0 0;
}
.fridge-image {
	grid-area: fridge;
	width: 100%
}
.shop-link {
	grid-area: link-2;
	padding: 20px 0 0 0;
}
.shop-image {
	grid-area: bag;
	width: 100%
}
.recipe-link {
	grid-area: link-3;
	padding: 20px 0 0 0;
}
.recipe-image {
	grid-area: book;
	width: 100%
}
.btn {
	background-color: #ffffff;
	color: #4CAF50;
	border: 2px solid #4CAF50;
	border-radius: 10px;
	font-size: 14px;
	cursor: pointer;
}

.btn:hover {
	box-shadow: #6e6e6e;

}

/*Text formatting*/
h1{
	color: #0099ff;
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size:3vw;
	text-align: center;
}

h2 {
	color: #000000;
	font-family: Ubuntu, Helvetica, sans-serif;
	font-size:3vw;
	text-align: center;
	text-wrap: none;
}

/*Bottom nav bar*/
.bottom_nav{
	position: fixed;
	background-color: #FF8C2E;
	text-align: center;
	font-size: 1vw;
	vertical-align: middle;
	width: 100vw;
	bottom: 0;
}

.foot-item {
	list-style-type: none;
	display: inline-block;
	height: 100%;
	margin: 0 10px 0 10px;
	font-size: 24px;
	font-family: 'Ubuntu', Helvetica, sans-serif;
}
/*Links for main nav bar*/
.foot-item a {
	color: #ffffff;
	text-decoration: none;
}

.foot-item a:hover {
	background-color: rgb(255, 161, 98);
	color: rgb(255, 255, 255);
}

.foot-item a.focus {
	background-color: #4CAF50;
	color: white;
}
